*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Tajawal", sans-serif;
}
:root{
    --main-color:#0D47A1;
    --text-dark:#161615;
    --text-light:#555;
    --h1:clamp(28px, 5vw, 50px);
    --h2:clamp(22px, 4vw, 40px);
    --h3:clamp(18px, 3vw, 28px);
}
html{
    scroll-padding: 20px;
}

body{
    background:#fff ;
    color: var(--text-dark);
    scroll-behavior: smooth;
}
.container{
    width: min(1200px, 90%);
    margin: auto;
    padding: 0 10px;
}
.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    background: #ffffffd7;
    backdrop-filter: blur(5px);
    z-index: 1000;
    border-bottom: 1px solid #eee;
}
.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.logo{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--main-color);
}
.menu{
    display: flex;
    gap: 20px;
    margin: auto;
}
.menu li{
    list-style: none;
}
.menu a{
    text-decoration: none;
    font-size: clamp(18px, 2vw, 19px);
    font-weight: 600;
}
.menu a:hover{
    color: var(--main-color);
}

/* ======================================== hero ================================ */
.hero-section{
    padding-top: 70px;
    height: auto;
}
.hero-box{
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0 10px;
}
.hero-text{
    flex: 1;
}

.hero-text h1{
    font-size: 2.8rem;
    font-size: var(--h1);
    margin-bottom: 7px;
    text-indent: 110px;
    color: var(--main-color);
}

.hero-text .desc{
    font-size: clamp(18px, 2vw, 19px);
    margin: 10px 0 20px;
    color: var(--text-dark);
}

.btn{
    display: inline-block;
    background: var(--main-color);
    color: #fff;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 20px;
}
.social-icons a{
    margin-right: 10px;
    font-size: 1.8rem;
}
.social-icons .fa-github , .fa-x-twitter{
    color: #000;
}

/* ===================================images hero */
.hero-images{
    flex: 1;
    text-align: center;
}
.desktop-img{
    width: 100%;
    max-width: 240px;
}
.mobile-img{
    display: none;
    width: 140px;
    margin: auto;
    
}
/* ================================ about
                                          ========================================= */
.about{
    padding-top: 30px;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    /* height: 100%; */
}
.about h2{
    font-size: var(--h2);
    font-weight: 600;
    text-align: center;
    color: var(--main-color);
    margin-bottom: 25px;
}
/* .about-box{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}  */

.about-text{
    padding: 0 1.875rem;
    text-align: center;
}
.about-text p{
    font-size: 1.5rem;
    max-width: 543px;
    line-height: 1.6;
}

.about-img{
    width: 420px;
}
.about-img img{
   max-width: 100%;
   vertical-align: middle;
}

/* =================================== contact ===================================================== */
.contact{
    padding-top: 62px;
    height: auto;
}
.contact h3{
    text-align: center;
    font-size: 1.8em;
    font-weight: 600;
    color: var(--main-color);
}
.contact p{
    font-size: .85em;
    text-align: center;
    margin: 10px 0 20px;
    line-height: 26px;
}
.contact-box{
    margin-top: 45px;
    width: 100%;
    height: 75vh;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    gap: 6rem;
}
.contect-img img{
    max-width: 100%;
    width: 480px;
    height: auto;
    border-radius: 10px;
}
.contact-box form{
    position: relative;
    padding-right: 10px;
}
form input, textarea{
    width: 100%;
    border: none;
    outline: none;
    background: #ccc;
    color: var(--main-color);
    font-size: 1.1em;
    margin-bottom: .7em;
    border-radius: 10px;
    padding: 16px;
}
textarea{
    resize: none;
    height: 200px;
}
.contact-box .btn{
    width: 220px;
    margin-top: 10px;
    transition: .7s;
}
.contact-box .btn:hover{
    background: #ccc;
    background: transparent;
    border: 2px solid var(--main-color);
    color: #0D47A1;
    transform: scale(1.1);
}

/* ==================================== footer================================================ */
.footer {
    margin-top: 20px;
    padding: 20px;
    font-size: 1em;
    text-align: center;
    background: #eee;
}
/* =========================================================================================== */
@media(max-width:768px){
    .container{
        width: 100%;
        margin: 0;
    }
/* ===================================== */

    .nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 15px 0;
    }
    .menu{
        margin-top: 15px;
    }

/* ================================= */

    .hero-box{
        flex-direction: column;
    }
    .desktop-img{
        display: none;
    }
    .mobile-img{
        display: block;
        opacity: .9;
    }
    .mobile-img:hover{
        opacity: 1;
    }
    .hero-text h1{
        font-size: 24px;
    }

/* ============================================ */

    .about{
        margin-top: 30px;
    }
    .about-box{
        flex-direction: column;
    }
    .about-text{
    width: auto;
    }
    .about-img{
    width: 240px;
    }
    /* =========================================== */
    .contact-box{
    grid-template-columns: repeat(1,auto);
    height: 100%;
    gap: 1rem;
    }
/* ======================================== */
   .footer{
    background: none;
    }

}