*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Tajawal", sans-serif;
}
:root{
    --main-color:#0D47A1;
    --text-dark:#161615;
    --text-light:#555;
    --h1:clamp(28px, 5vw, 50px);
    --h2:clamp(22px, 4vw, 40px);
    --h3:clamp(18px, 3vw, 28px);
}
html{
    scroll-padding: 20px;
}

body{
    background:#fff ;
    color: var(--text-dark);
    scroll-behavior: smooth;
}
.container{
    width: min(1200px, 90%);
    margin: auto;
    padding: 0 10px;
}
.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    background: #ffffffd7;
    backdrop-filter: blur(5px);
    z-index: 1000;
    border-bottom: 1px solid #eee;
}
.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.logo{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--main-color);
}
.menu-toggle{
    display: none;
}
.menu{
    display: flex;
    gap: 20px;
    margin: auto;
}
.menu li{
    list-style: none;
}
.menu a{
    text-decoration: none;
    color: var(--main-color);
    font-size: clamp(18px, 2vw, 19px);
    font-weight: 600;
    transition: color .4s ease;
}
.menu a:hover{
    color: #0759dd;
}

/* ======================================== hero ================================ */
.hero-section{
    padding-top: 70px;
    height: 100vh;
}
.hero-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0 10px;
}
.hero-text{
    flex: 1;
} 
.welcome{
    font-size:clamp(18px, 2vw, 19px) ;
}
.hero-text h1{
    /* font-size: 2.8rem; */
    font-size: var(--h1);
    /* text-indent: 110px; */
    color: var(--main-color);
}
.desc{
    width: 400px;
    font-size: clamp(18px, 2vw, 19px);
    margin: 10px 0 20px;
    line-height: 1.6;
    color: var(--text-dark);
}

.btn{
    display: inline-flex;
    gap: 15px;
    background: #0759dd57;
    color: var(--text-dark);
    padding: 15px 80px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 30px;
    box-shadow: 0 8px 5px rgba(27, 18, 153, 0.479);
    transition: box-shadow transform .8s;
}
.btn:hover{
    box-shadow: 0 8px 15px rgba(27, 18, 153, 0.479);
    transform: translateX(-10px);
}
.btn i{
    font-size: 1.5rem;
    text-align: center;
    color: #000;
}
.social-icons{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 2.8rem;
}
.social-icons a{
    text-decoration: none;
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 8px 15px rgba(27, 18, 153, 0.479);
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-icons a i{
    transition: transform .3s ease;
}
.social-icons a i:hover{
    transform: scale(1.3) rotate(5deg);
}
.social-icons .fa-github , .fa-x-twitter{
    color: #000;
}

/* ===================================images hero */
.hero-images{
    flex: 1;
    text-align: center;
}
.desktop-img{
    width: 100%;
    max-width: 240px;
}
.mobile-img{
    display: none;
    width: 140px;
    margin: auto;
    
}
/* ================================ about
                                          ========================================= */
.about{
    margin-top: 30px;
    padding-top: 30px;
    /* height: 100%; */
}
h2{
    font-size: var(--h2);
    font-weight: 600;
    text-align: center;
    color: var(--main-color);
    margin-bottom: 25px;
}
.about-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.about-text{
    padding: 0 1.875rem;
    text-align: center;
}
.about-text p{
    font-size: 1.5rem;
    max-width: 543px;
    line-height: 1.6;
}
/* .about-img{
    width: 320px;
} */
.about-img img{
    max-width: 100%;
    width: 480px;
    height: auto;
 
}

/* =================================== contact ===================================================== */
.contact{
    padding-top: 62px;
    height: auto;
}
.contact h3{
    text-align: center;
    font-size: 1.8em;
    font-weight: 600;
    color: var(--main-color);
}
.contact p{
    font-size: .85em;
    text-align: center;
    margin: 10px 0 20px;
    line-height: 26px;
}
.contact-box{
    margin-top: 45px;
    width: 100%;
    height: 75vh;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    gap: 6rem;
}
.contect-img img{
    max-width: 100%;
    width: 480px;
    height: auto;
    border-radius: 10px;
}
.contact-box form{
    position: relative;
    padding-right: 10px;
}
form input, textarea{
    width: 100%;
    border: none;
    outline: none;
    background: #ccc;
    color: var(--main-color);
    font-size: 1.1em;
    padding: 16px;
    border-radius: 10px;
    margin-bottom: .7em;
    box-shadow: 0 2px 5px rgba(119, 118, 128, 0.479);
}
textarea{
    resize: none;
    height: 200px;
}
.contact-box .btn{
    width: 220px;
    margin-top: 10px;
    transition: .7s;
}
.contact-box .btn:hover{
    background: #ccc;
    background: transparent;
    border: 2px solid var(--main-color);
    color: #0D47A1;
    transform: scale(1.1);
}

/* ==================================== footer================================================ */
.footer {
    margin-top: 20px;
    padding: 20px;
    font-size: 1em;
    text-align: center;
    background: #eee;
}
/* =========================================================================================== */
@media(max-width:600px){
    .container{
        width: 100%;
        margin: 0;
        padding: 20px;
    }
/* ===================================== */
    
    .nav-content{
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 15px 0; */
    position: relative;
    }
    /* =========================menu for mobile======================================= */
    .menu-mob{
        display: flex;
        flex-direction: column;
        cursor: pointer;
        gap: 8px;
    }
    .menu-mob span{
        width: 25px;
        height: 3px;
        background-color: var(--main-color);
    }
    .menu{
        display: flex;
        flex-direction: column;
        background: #ffffffd7;
        backdrop-filter: blur(5px);
        box-shadow: 0 0 18px rgba(0,0,0,.8);
        padding: 0;
        margin: 0;
        width: 100%;
        position: absolute;
        top: 100%;
        right: -100%;
        display: none;
    }
    .menu::before{
        content: "";
        width: 0;
        position: absolute;
        top: -42px;
        left: 10px;
        border-width:20px ;
        border-style: solid;
        border-color: transparent transparent #0d47a1 transparent ;
    }
    .menu li{
        text-align: center;
        margin-top: 5px;
    }
    .menu li a{
        display: block;
        padding: 8px 10px;
        background-color: #93aed671;
        border-radius: 20px;
    }
    .menu-toggle:checked ~ .menu{
        display: flex;
        right: 0;
        margin-top: 15px;
    }
    .menu-toggle:checked ~ .menu-mob span:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .menu-toggle:checked~.menu-mob span:nth-child(2) {
        opacity: 0;
    }
    .menu-toggle:checked~.menu-mob span:nth-child(3) {
        transform: translateY(-14px) rotate(-45deg);
    }

    
/* ================================= */
    .hero-section{
        padding-top: 140px;
        height: 80vh;
    }

    .hero-box{
        display: block;
        width: 100%;
        text-align: center;
    }
    .desc{
        width: 100%;
    }
    .social-icons{
        justify-content: center;
    }
    .desktop-img{
        display: none;
    }
    .mobile-img{
        display: block;
        opacity: .9;
        margin: auto;
    }
    .mobile-img:hover{
        opacity: 1;
    }
    .hero-text h1{
        font-size: 24px;
    }

/* ============================================ */

    .about{
        margin-top: 130px;
        padding-top: 80px;
    }
    .about-box{
        flex-direction: column;
    }
    .about-text{
    width: 100%;
    }
    .about-text p{
        width: 100%;
        font-size: 1rem;
    }
    /* =========================================== */
    .contact{
        padding-top: 80px;
    }
    .contact-box{
    grid-template-columns: repeat(1,auto);
    height: 100%;
    gap: 1rem;
    }
/* ======================================== */
   .footer{
    background: none;
    }
}
@media (min-width:601px) and (max-width:768px){
    .container{
        width: 100%;
        padding: 20px;
    }
    .hero-section{
        height: 70vh;
    }
    /*  */
    .about-box{
        flex-direction: column;
    }
    /*  */
    .contact-box{
        grid-template-columns: repeat(1,1fr);
        height: 100vh;
        gap: 5px;
    }
    .contect-img{
        text-align: center;
    }
}
@media(min-width:992px){
    .hero-section{
        height: 100vh;
    }
    /*  */
    .contact-box{
        height: auto;
    }
}
/*  */
@media(min-width:768px) and (max-width:992px){
    .hero-section{
        height: 60vh;
    }
    .about-box{
        flex-direction: column;
    }
    .contact-box{
        height: auto;
        grid-template-columns: repeat(1,auto);
    }
    .contect-img{
        text-align: center;
    }
}
@media(min-width:768px){
    .hero-section{
        height: auto;
        flex-direction: column;
        f
    }
}